@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');/*구글 폰트 적용*/
/* header */
/* 기본 스타일 시트 속성을 초기화 하는 이유는 웹 브라우저의 기본 값 대신 내가 정한 값으로 CSS를 적용하기 위해서 */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
a, a:link, a:visited{
  color:inherit;
  text-decoration:none;
}
li{
  list-style:none;
}
/* 기준 너비 1140px를 유지하는 container역할 */
.container{
  width:1140px;
  /* margin을 위와 아래 0, 왼쪽과 오른쪽을 auto로 지정하면 수평 방향에서 중앙에 위치 */
  margin:0 auto;
}
/* 스크롤해서 화면을 내려도 상단에 고정시키기 */
header{
  position:fixed; /*absolute -> fixed, 고정시키기 위해 fixed 사용*/
  color:white; /*black -> white*/
  top:0;
  z-index:1;/*다른 요소에 가려서 안 보이는 일 없도록 0보다 크게*/
  width:100%;
  padding:1rem;
}
header .container{
  display:flex;
  /* 하위 자식 태그 2개를 왼쪽 끝과 오른쪽 끝으로 붙이기 */
  justify-content:space-between;
  align-items:center;/*수직 정렬*/
  width:100%;
}
/* header 영역 메뉴를 가로 한 줄로 배치하기 위해 flex사용 */
header nav ul{
  display:flex;
}
header nav ul li{
  padding:10px;
}
header button{
  background: transparent;
  border:0;
  cursor: pointer;
  color:white; /*버튼내 텍스트 흰색*/
}
header h1 button{
  font-size: 2rem;
  font-weight: bold;
}
header nav ul li button{
  font-size: 1.2rem;
}
/* 스크롤을 아래로 내리면 header태그에 active 클래스 추가 및 삭제 */
header.active{
    background-color:rgba(0,0,0);
/* 투명도가 0에서 1로 1초간 변함 */
    animation:fadeIn 0.5s ease-in-out;
  }
  @keyframes fadeIn{
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }
/* //end header */

/* Main */
main{
  width:100%;
  height:100vh;
  color:white;
  /* linear-gradient를 사용하여 배경색이 이미지를 덮는 효과 주기 */
  background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/me.jpg') center center;
  background-size:cover;
  /* 수직 방향에서 요소들이 중앙에 위치하게 하기 */
  display:flex;  
  justify-content:center;/*텍스트 중앙 정렬*/
  align-items:center;
  text-align:center;
}
main h4{
  font-size:2rem;
}
main h2{
  font-size:3.5rem;
  margin:2rem 0;
  letter-spacing:3px;
  font-family:'Varela Round', sans-serif; /* 웹 폰트 추가 */
}
main p{
  max-width:500px;
  margin:0 auto;
  font-size:1.25rem;
}
main button.download{
  background-color:transparent;/*배경색 기본값 적용*/
  border:3px solid white;
  border-radius:20px;
  padding:1rem 2rem;
  margin-top:3rem;
  color:white;
  font-weight:bold;
  cursor:pointer;
}
main button.mouse{
  background-color:transparent;
  border:none;
  color:white;
  font-size:2rem;
  position:absolute;
  bottom:1rem;
  left:50%;
  transform:translateX(-50%); /*가운데 정렬*/
  animation:upDown 1s ease-in-out infinite; /*위 아래 반복 움직임*/
  cursor:pointer;
}
@keyframes upDown{
  0%{
    bottom:1rem;
  }
  50%{
    bottom:1.5rem;
  }
  100%{
    bottom:1rem;
  }
}
/* 화면의 텍스트 끝에 커서 모양 만들기 */
main h2 span::after{
  content:"";
  height:40px;
  width:3px;
  background-color:#fff;
  display:inline-block;
  /* 커서가 깜빡이는 것처럼 보이게 만들기 */
  animation: blink .7s ease-in-out infinite;
}
@keyframes blink {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
/* //end Main */

/* About ME */
section{ /*섹션 영역의 전체 글꼴 및 배경색 샐정*/
  font-family:'Poppins', sans-serif;
  padding:5rem 0;
}
section:nth-child(2n){
  background-color:#f8f8f8;
}
section .title{/*전체 제목 설정*/
  margin-bottom:3rem;
}
section .title h4{
  font-size:1.35rem;
  color:#ed4848;
  position:relative;
}
section .title h2{
  font-size:3.5rem; 
}
section .title p{
  font-size:1.15rem;
}
/* left와 right으로 float 속성 해제 */
section .about-self::after{
  content:"";
  clear:both; /*float 속성 해제*/
  display:block;
}
/* 본문 너비 절반 지정하고 왼쪽에 배치 */
section .about-self .left{
  width:50%;
  float:left;
}
/* max-width속성으로 이미지가 부모 요소의 너비보다 커지지 못하게 설정 */
section .about-self .left img{
  max-width:100%;
}
/* 본문 너비 절반 지정하고 오른쪽 배치 */
section .about-self .right{
  width:50%;
  float:left;
  padding:0 2rem;
}
/* 본문 오른쪽 h3 태그의 글자 크기와 여백 지정 */
section .about-self .right h3{
  font-size:2.25rem;
  margin-bottom:1rem;
}
/* 본문 오른쪽 h3 태그의 strong 태그 색상 강조 */
section .about-self .right h3 strong{
  color:#ed4848;
}
/* 본문 오른쪽 p 태그의 크기와 여백 설정 */
section .about-self .right p{
  font-size:1.15rem;
  margin:1rem 0;
}
/* 본문 오른쪽의 아이콘 폰트 크기와 여백 지정 */
section .about-self .right .social a{
  font-size:2.5rem;
  margin-right:0.2rem;
}
/* //end About Me */

/* What I Do */
/* float 속성 해제*/
section .do-me::after{
  content:"";
  display:block;
  clear:both;
}
/* 사각형 크기 및 간격, 내부 여백 설정 */
section .do-me .do-inner{
  background-color:#fff;
  width:30%;
  padding:2rem; 
  float:left;
  margin-right:5%;
  cursor:pointer;
}
/* 마지막 사각형의 외부 여백 설정 */
section .do-me .do-inner:last-child{
  margin-right:0; /*마지막은 여백을 주지 않음*/
}
/* 아이콘 폰트 크기와 색상 */
section .do-me .do-inner .icon i{
  font-size:2.5rem;
  color:#ff6a6a;
}
/* HTML5, CSS3, JavaScript 크기와 간격 */
section .do-me .do-inner .content h3{
  font-size:2rem;
  margin:1rem 0;
}
/* 사각형 텍스트 크기 */
section .do-me .do-inner .content p{
  font-size:1.15rem;
}
/* do-inner 클래스에 마우스를 올리면 배경색과 텍스트 색상 변경 */
section .do-me .do-inner:hover{
  background-color:lightcoral;
  color:white; 
}
/* do-inner 클래스에 마우스를 올리면 아이콘 폰트 색상 변경 */
section .do-me .do-inner:hover i{
  /*i태그에 아이콘을 넣어서 텍스트 취급받기 때문에 색상 변경*/
  color:white; 
}
/* End What I Do */

/* Background */
.bg{
  background:url('./images/background.jpg') center center;
  background-size:cover;
    /*fixed로 지정하여 스크롤할때 사진 보이게하기*/
  background-attachment:fixed;
  height:650px;
}
/* //end Background */

/* Portfolio */
/* float 속성 해제*/
section.portfolio::after{
  content:"";
  display:block;
  clear:both;
}
/* portfolio-inner 사각형 꾸미기 */
section.portfolio .portfolio-inner{
  /* 사각형의 너비와 여백을 지정하여 너비를 초과할 경우 자동으로 줄 바꿈 */
  width:30%;
  margin-right:5%;
  padding:1rem 1rem 1.5rem 1rem;
  float:left;  /*수평 배치*/
  background-color:#f8f8f8;
  border:1px solid #ccc;
  margin-bottom:3rem;
}
/* 3번째마다 margin-right 0 적용 하여 3개씩 두 줄로 표시 */
section.portfolio .portfolio-inner:nth-child(3n){
   margin-right:0;
}
/* 이미지의 크기가 부모 요소를 넘지 않도록 100%로 지정 */
section.portfolio .portfolio-inner img{
  width:100%;
  display:block;
}
/* strong 태그 색상과 간격 */
section.portfolio .portfolio-inner strong{
  color:#ff6a6a;
  margin:0.5rem 0;
  display:block;
}
/* h3 태그 폰트 사이즈 */
section.portfolio .portfolio-inner h3{
  font-size:1.75rem;
}
/* End Portfolio */

/* Contact With Me */

section.contact .contact-me::after{
  content:"";
  display:block;
  /*수평으로 나란히 배치하기 위해 float 속성 해제*/
  clear:both;
}
section.contact .contact-me .left{/*왼쪽 너비*/
  width:30%;
  float:left;
}
section.contact .contact-me .right{/*오른쪽 너비*/
  width:65%;
  margin-left:5%;
}
/* 왼쪽 꾸미기 */
section.contact .contact-me .left .card{
  border:1px solid #ccc;
  padding:1rem;
  /*icon 클래스와 info-text클래스가 가로 한 줄로 나란히 배치*/
  display:flex;
  align-items:center;/*중앙에 위치하게 하기*/
  margin-bottom:1.25rem;
}
/* 폰트 너비 지정 */
section.contact .contact-me .left .card .icon i{
  font-size:2rem;
  margin-right:15px;
}
/* 오른쪽 꾸미기 */
section.contact .contact-me .right{ 
  float:left;
  width:65%;
  margin-left:5%;
  margin-bottom:2rem;
  border:1px solid #ccc;
  padding:1rem;
}
/* form-group 사이 간격 지정 */
section.contact .contact-me .right .form-group{
  margin-bottom:1.25rem;
}
/* label 태그가 인라인 성격이어서 외부 여백을 적용하기 위해 block으로 변경 */
section.contact .contact-me .right .form-group label{
  display:block;
  margin-bottom:0.85rem;
}
/* input 요소 꾸미기 */
section.contact .contact-me .right .form-group input{
  padding:0.625rem;
  width:100%;
  outline:none;
  border:1px solid #ccc;
  border-radius:10px;
}
/* :focus 가상 클래스 선택자로 입력 요소에 커서가 활성화되면 파란색 테두리와 그림자 효과 추가 */ 
section.contact .contact-me .right .form-group input:focus{
  border:1px solid #719ECE;
  box-shadow:0 0 10px #719ECE;
}
/* textarea 요소 꾸미기 */
section.contact .contact-me .right .form-group textarea{
  height:300px;
  width:100%;
  resize:none;/* 크기 조절 못하게 하기 */
  border:1px solid #ccc;
  border-radius:10px;
}
/* textarea 요소에 커서 활성화가 되면 파란색 테두리와 그림자 효과 추가 */
section.contact .contact-me .right .form-group textarea:focus{
  outline:none;
  border:1px solid #719ECE;
  box-shadow:0 0 10px #719ECE;
}
/* 버튼 꾸미기 */
section.contact .contact-me .right button{
  width:100%;
  padding:1rem;
  background-color:#f78b00;
  border:none;
  color:white;
}

/* //end Contact With Me */
/* CSS에 반응형 코드를 적용하기위해 미디어 쿼리(media query)사용 */
/* 미디어 쿼리는 해상도를 기준으로 서로 다른 CSS를 적용할 때 사용 */
/* 기준 해상도를 먼저 정해야함 */
/* media */
/* 화면 너비가 1140xp 이하일 때 */
@media screen and (max-width: 1140px){ /* 기준 해상도를 1140px에서 시작 */

  /* 메인 container 기준 너비 변경 */
  main .container{
    width: 992px;/*1140px -> 992px*/
  }
  
  /* 섹션 container 기준 너비 변경 - 2단으로 처리하기 위해 */
  section .container{
    width:600px;/*1140px -> 600px*/
  }

  /* About me 영역 왼쪽을 너비 변경 */
  section .about-self .left{
    width:100%;/*50% -> 100%*/
    margin-bottom: 1.5rem;
  }
  /* About me 영역 오른쪽 너비 변경 */
  section  .about-self .right{
    width:100%;/*50% -> 100%*/
    padding:0;
  }

  /* What I Do 영역의 콘텐츠 박스의 너비 변경 */
  section .do-me .do-inner{
    width:48%; /*콘텐츠 박스 너비 30% -> 48%*/
    margin-bottom: 1.5rem;/*박스 사이 간격*/
    margin-right: 0;/*여백 초기화*/
  }

  section .do-me .do-inner:nth-child(odd){/*2n+1은 홀수 번째를 선택하므로 odd로 변경*/
    /*홀수 번째 요소의 박스에 margin-right 4% 적용 */
    margin-right:4%; 
  }
  
  /* PortFolio 영역의 콘텐츠 박스 너비를 변경 */
  section .portfolio-me .portfolio-inner{
    width:48%;/*콘텐츠 박스 너비 30% -> 48%*/
    margin-right: 0;/*여백 초기화*/
  }

  section .portfolio-me .portfolio-inner:nth-child(odd){/*2n+1은 홀수 번째를 선택하므로 odd로 변경*/
     /*홀수 번째 요소의 박스에 margin-right 4% 적용 */
    margin-right:4%;
  }

  /* Contact With Me 영역 */
  section.contact .contact-me .left{
    width:100%; /* 콘텐츠 박스 너비 30% -> 100% */
  }
  
  section.contact .contact-me .right{
    width:100%;/* 콘텐츠 박스 너비 65% -> 100% */
    margin-left: 0; /* 여백 초기화 */
    
  }
}
/* 화면 너비가 992px 이하일 때 */
@media screen and (max-width: 992px){
  html{
    /* margin, padding 값을 rem을 사용하였으므로
    font-size를 작게 하면 화면 너비가 줄어들수록 전체 텍스트 크기와 내외부 여백이 일정 비율로 줄어듦 */
    font-size: 14px;
  }

  /* 메인 영역 container 기준 너비 변경 */
  main .container{
    width: 768px; /* 992px -> 768px */
  }

  /* PortFolio 영역 */
  section .portfolio-me .portfolio-inner{
    width:100%; /* 48% -> 100% 변경 */
  } 
}
/* 화면 너비가 768px 이하일 때 */
@media (max-width: 768px){
  html{
    /* margin, padding 값을 rem을 사용하였으므로
    font-size를 작게 하면 화면 너비가 줄어들수록 전체 텍스트 크기와 내외부 여백이 일정 비율로 줄어듦 */
    font-size: 13px;
  }
  
  /* 메인 영역 container 기준 너비 변경 */
  main .container{
    width: 576px; /* 768px -> 576px */
  }

  section .container{
    width:400px; /* 600px -> 400px */
  }

  section .do-me .do-inner{
    /* 100%로 변경되어 모든 콘텐츠가 수직 방향으로 한 줄로 배치됨 */
    width:100%; /* 48% -> 100% */
    margin-right: 0; /* margin 초기화 */
  }
}
/* 화면 너비가 576px 이하일 때 */
@media (max-width: 576px){  
  html{
    /* margin, padding 값을 rem을 사용하였으므로
    font-size를 작게 하면 화면 너비가 줄어들수록 전체 텍스트 크기와 내외부 여백이 일정 비율로 줄어듦 */
    font-size: 12px;
  }

  main .container{
    width: 400px; /* 576px -> 400px */
  }

  section .container{
    width:360px; /* 400px -> 360px */
  }
}
/* 화면 너비가 400px 이하일 때 */
@media (max-width: 400px){
  
  html{
    /* margin, padding 값을 rem을 사용하였으므로
    font-size를 작게 하면 화면 너비가 줄어들수록 전체 텍스트 크기와 내외부 여백이 일정 비율로 줄어듦 */
    font-size: 11px;
  }
  main .container{
    width: 320px;/* 400px -> 320px */
  }

  main h4{
    font-size: 1.5rem;
  }
  section .container{
    width: 320px;/* 360px -> 320px */
  }
  section .title h2{
    /* 400px 이하일 때 비율이 줄어도 3.5rem은 큰 편이라 변경  */
    font-size: 3rem; /* 3.5rem -> 3rem */
  }
}
  /* //End media */